*{
	padding: 0;
	margin: 0;
}
body{
	font-size: 18px;
	font-family: Tahoma;
	line-height: 30px;
	letter-spacing: 2px;
	background-color: #B4EFD3;
}
.banner{
	text-align: center;
	background-color: #DDCF35;
	padding: 20px;
}
.banner:hover{
	transform: scale(1.1);
	transition: .4s;
}
/*horizontal menu starts*/
.menu{
	background-color: #000;
}
.menu ul{
padding: 10px;
margin-left: 20px;
margin-right: 20px;
}
.menu ul li{
display: inline-block;
padding: 10px;
}
.menu a{
	color: #ffff;
	text-decoration: none;
}
.menu a:hover{
	background-color: #35B866;
	color: white;
	display: block;
	padding: 5px;
	border-radius: 2px;
	transition: .4s;
}
/*horizontal menu ends*/

/*vertical menu starts*/
.vmenu ul li{
	display: block;
}
.vmenu a{
	text-decoration: none;
	display: block;
	padding: 20px;
}
.vmenu a:hover{
	background-color: #EBF0ED;
	color: black;
	display: block;
	padding: 5px;
	border-radius: 2px;
	transition: .4s;
}
.left{
	width: 73%;
	float: left;
	margin-right: 0.5%;
	margin-left: 0.5%;
}
.right{
	width: 23%;
	float: left;
	margin-right: 0.5%;
}
.card{
	margin-top: 10px;
	padding: 20px;
	background-color: #CD9797;
}
.cardImage img{
	margin: 5px 0;
	width: 100%;
	height: auto;
}
.footer{
	clear: both;
	padding: 30px;
	background-color: #1B1D1D;
	text-align: center;
	color: white;
	font-size: 20px;
}
.logo img{
	width: 160px;
	height: auto;
	float: left;
}
.menu input[type="text"]{
	margin-top: 3px;
	width: 200px;
	padding: 8px;
}
